/* Messages.css */

.messages {
  display: flex;
  height: 100vh;
  margin-left: 280px;  /* Largeur de la sidebar */
}


  .messages-content {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 64px); /* 64px est la hauteur approximative de votre en-tête */
  }
  
  .messages-sidebar {
    flex: 1;
    border-left: 1px solid #ccc;
    padding: 20px;
  }
  
 
  
  .contact:hover {
    background-color: #ffffff;
  }

  .contactmessage{
    padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  }

  .contact-selected {
    background-color: #84fab0;
    border-bottom: 1px solid #84fab0;
  }
  
  .contact-image {
    width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  }
  
  
 .message-list {
  flex: 1;
  overflow-y: auto;
  position: relative; /* Ajoutez cette ligne */
}
  
  .message-sent {
    align-self: flex-end;
    background-color: #d5f6bc;
    border-radius: 10px;
    padding: 8px 12px;
    margin-bottom: 10px;
    max-width: 70%;
    margin-left: 50px;
  }
  
  .message-received {
    align-self: flex-start;
    background-color: #a7dbf4;
    border-radius: 10px;
    padding: 8px 12px;
    margin-bottom: 10px;
    max-width: 70%;
    margin-right: 50px;
  }
  
  .sender {
    font-weight: bold;
    font-size: 0.9em;
    color: #777;
  }
  
  .new-message-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .new-message-input {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .send-button-message {
    background-color: #008CBA; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px; 
    font-size: 16px; 
    transition-duration: 0.4s; 
    margin-right: 10px; /* ajouter une marge à droite pour espacer les boutons */
  }
  
  .send-button-message:hover {
    background-color: #4CAF50; 
    color: white; 
  }
  
  .propose-meeting-message {
    background-color: #ff9800; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px; 
    font-size: 16px; 
    transition-duration: 0.4s;
  }
  
  .propose-meeting-message:hover {
    background-color: #f57c00;
  }


  