@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.App-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: calc(100vh - 60px);
  
}
.card {
  border: 5px solid white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  max-height: 70%;
  object-fit: contain;
  border-radius: 5px;
  }

.vegetable-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  margin-top: -170px;
}