.matchs2{
display: flex;
justify-content: center;
align-items: center;

}
.container_matchs2 {
  text-align: center;
}

.container_matchs h1 {
  margin-top: 50px;
  margin-left: 70px;
}
